* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    min-width: 530px;
}
.container {
    margin: auto;
    width: 100%;
    height: 100%;
}
.firstDiv {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    align-items: center;
    box-sizing: border-box;
}
.overlay {
    height:fit-content;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.icons {
    width: 50%;
    margin: 1% 0 1% 0;
    text-align: center;
}
i {
    box-sizing: border-box;
    font-size: 80%;
    background-color: white;
    padding-top: 8px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}
.forMenu {
    display: flex;
    height: fit-content;
    width: 68%;
    background-color: white;
}
.logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 50px;
    background-color: white;
}
.menu {
    align-items: center;
    width: 100%;
    display: flex;
}
.pForFlex {
    color: red;
    font-weight: bold;
    font-size: 80%;
    margin-left: 0;
}
ul {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-size: 60%;
    display: flex;   
}
a {
    text-decoration: none;
    list-style: none;
    color: black;
}
li {
    padding-right: 15px;   
}
.aForHome {  
    color: red;
}
.responsive {
    margin: 5% 0 3% 0;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}
h4{
    font-size: 80%;
    width: fit-content;
    padding-bottom: 3%;
    border-bottom: 0.1px  solid white;
}
.pOne {
    margin: 4% 0 4% 0;
    font-size: 70%;
}
.pTwo {
    width: fit-content; 
    text-align: center; 
    margin: 4% 0 4% 0;
    font-size: 60%;
    color: white;
    padding: 5% ;
    background-color: #ED5240;
}
.secondDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    background-color: white;
    width: 100%;
}
.divOne, .divThird {
    margin: 1% 0 1% 0;
    padding:1% 0 1% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:fit-content;
    width: 100%;
    background-color: white;
}
#div0 , #div1, #div2 , #div3 {
    margin-right: 3%;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}
#div0 {
  background-image: url(../images/programming-code.svg);
  background-color: #1BBC9B;
}
#div1 {
    background-image: url(../images/paper-plane.svg);
    background-color: #E67F22;
 
}
#div2 {
    background-image: url(../images/public-museum-sign.png);
    background-color: #3598DB;
}
#div3 {
    background-image: url(../images/beaker.svg);
    background-color: #2ABD69;
}
#divTwo, #divFourth, #divFifth {
    display: flex;
    height: fit-content;
    width: 70%;
    justify-content: space-between;
    background-color: white;
}
.pDivOne , .pDivThird {
    color: #4D4D4E;
    font-size: 70%;
    width: fit-content;
    height: fit-content;
     border-bottom: 1px solid #4D4D4E;
}
.pFourth , .pThird {
    padding-top: 1%;
    font-size: 50%;
    color: #C1C1B6;
}
 .fourDiv1, .fourDiv2,.fourDiv3, .fourDiv4  {
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: initial;
    margin-right: 3%;
    height: 120px;
    width: 120px;
 }
 .fourDiv1{
    background-image: url(../images/p1.jpg);
}
.fourDiv2 {
    background-image: url(../images/p2.jpg);
}
.fourDiv3 {
    background-image: url(../images/p3.jpg);
}
.fourDiv4 {
    background-image: url(../images/p4.jpg);
}
.FifthDiv1, .FifthDiv2, .FifthDiv3, .FifthDiv4 {
    margin-right: 3%;
    margin-top:3%;
    background-size:cover;
    background-repeat: no-repeat;
    background-origin: initial;
    height: 120px;
    width: 120px;
}
.FifthDiv1{
    background-image: url(../images/p5.jpg);
}
.FifthDiv2 {
    background-image: url(../images/p6.jpg);
}
.FifthDiv3 {
    background-image: url(../images/p7.jpg);
}
.FifthDiv4 {
    background-image: url(../images/p8.jpg);
}
.ulForMenu {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 118, 185, 0.171);
    padding: 1%;
    display: none;
}
.ulForMenu > li {
    padding: 1.2%;
   
}
.ulForMenu > li:hover {
    padding: 1%;
    background-color: rgba(55, 55, 104, 0.795);
  color: black;
}
.divForMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
 }
.logoForMenu {
    margin: auto;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    width: 20px;
    height: 20px; 
    margin-bottom: 3%;
}
/* @media screen and (min-width: 957px) {
    .divForMenu {
        display:none;
    }
} */
@media screen and (max-width: 957px) {
    .forMenu { 
        display: none;
    }
    .logoForMenu {
        display: flex;
    }
    #hiddenUl{
        display: none;

    }
    }


@media screen and (max-width: 1000px) {
    #divTwo, #divFourth, #divFifth, .secondDiv {
        flex-wrap: wrap;
        justify-content: center ;
        width: 80%;
        margin: 0 auto
    }
    #divFourth > div , #divTwo > div,  #divFifth > div{
        margin-top: 3%;
        margin-right: 3%;
    }
        
    }
    
    /* @media screen and (max-width: 500px) {
    #divTwo > div, #divFourth > div, #divFifth > div{
        margin: 1%;
        width: px;
        height: 60px;
    } 
} */
   