#animate{
    background-color: red;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    animation-duration: 2s; 
    position: relative;
    
}
 
@keyframes example {
from {background-color: red; left: 0%}


  to {background-color: yellow; left:96%}
}
 