body,html{
    height: 100%;
    width: 100%;
  margin: 0;
  background-color: #191919;
}
/* Style the wrapper */
.wrapper{
    height:auto;
    margin: auto;
    width: 50%;
    background-color: #424242;
    position: relative;
    top: 50%;
   outline-style:  solid ; 
   outline-color: #56B1CC;
   border: none;
transform: translateY(-50%);
box-sizing: border-box;
display: block;
}
/* Style the form */
form{
    width: 99%;
    height: 99%;
    display:inline-block;
    box-sizing: border-box;
    margin: 0;
   padding: 0;
   height: 99%;
   width:100% ;
   border: none;
       
}
    
    /* Style the label to display next to the inputs */
.label{
    width: 98%;
    text-align: left;
    margin: 1% ;
    margin-bottom: 3.5%;
    padding: 1% 0 1% 6%;
    color: #FFFFFF;
    font-size: 2.2vw;
    font-family: Franklin Gothic Medium;
    box-sizing: border-box;
    display:inline-block;
}
/*Style input types */
.first-input, .second-input,.third-input,.fourth-input{
    text-align: center;
     width: 100%;
     box-sizing: border-box;
    display:inline-block;
}
input{
    display: inline-block;
    width: 45%;
    padding: 2% 8%;
    margin: 2%;
    background-color: #1B1B1B;
    color: white;
    border: none;
    border-radius: 4%;
    outline: none;
    box-sizing: border-box;
}
.first-input>input[type=text] {
    background-image: url("../Images/User.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 } 
 .first-input>input[type=password] {
    background-image: url("../Images/key.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .second-input>input:nth-child(1) {
    background-image: url("../Images/email.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .second-input>input:nth-child(2) {
    background-image: url("../Images/message.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .third-input>input:nth-child(1) {
    background-image: url("../Images/pin.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .third-input>input:nth-child(2) {
    background-image: url("../Images/zip-file.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .fourth-input>input:nth-child(1) {
    background-image: url("../Images/telephone.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 1vw;
    background-size: 7%;
 }
 .fourth-input>input:nth-child(2) {
    background-image: url("../Images/smartphone.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 7%;
    font-size: 1vw;
 }
  /*Style textarea */
.textarea{
    margin-bottom: 3%;
}
 p{ 
    font-size: 1.2vw;
     margin: 0;
     width: 30%;
     margin-right: 0;
     color: #7B7B7B;
     margin-left: 4%;
     width: 30%;
    display: inline-block;
    box-sizing: border-box;
 }
  
 textarea{
    width: 15%;
    border:none;
    border-radius: 5%;
    background-color: #1B1B1B;
    resize: none;
    box-sizing: border-box;
    display: inline-block;
   
 } 
 
 /* Style the submit button */
 button{
     width: 20%;
     padding: 0.5%;
     border-radius: 10%;
     border: none;
      color:#EC8177;
      background-color: #424242;
   margin-left: 70%;
   outline-style:  solid ; 
   outline-color: #CB6054;;
   display: inline-block;
   box-sizing: border-box;
   font-size: 1.1vw;
 }
 #result{
   max-width: 300px;
   height: auto;
   position:absolute;
   margin: 15px;
   background-color:#56B1CC;
   text-align: center;
   border-radius: 15%;
   transition: 3s;
 }
#result:hover{
   max-width: 300px; max-width: 300px;
   transform: rotate(7deg);
height: 500px;
transition: width 2s linear 1s;
 background-color: #CB6054;
 
}
 
