#animate{
    margin: auto;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-duration: 5s; 
    position: relative;
    animation-fill-mode: forwards;
    margin-top: 10%;
}
#animateblack{
    margin: auto;
    margin-top: 15px;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
 
    animation-duration: 5s; 
    position: relative;
    animation-fill-mode: forwards;
    
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:48%; top:0px;}
    50%  {left:48%; top:100px;}
    75%  { left:0px; top:130px;}
    100% {  left:0px; top:130px;}
 
  }
  @keyframes example1{
    0%   { right:0px; top:0px;}
    25%  {  right:48%; top:0px;}
    50%  { right:48%; top:-100px;}
    75%  {  right:0px; top:-105px;}
    100% {   right:0px; top:-105px;}
  }