#animate{
    margin: auto;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-duration: 3s; 
    position: relative;
    animation-fill-mode: forwards;
    margin-top: 10%;
}
#animateblack{
    margin: auto;
    margin-top: 15px;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
 
    animation-duration: 3s; 
    position: relative;
    animation-fill-mode: forwards;
    
}
@keyframes example {
    0%   { left:0px; top:0px;background-color: red}
    25%  { left:8%; top:0px;background-color:cadetblue }
    50%  {left:8%; top:100px;background-color:firebrick}
    75%  { left:0px; top:130px;background-color:cadetblue }
    100% {  left:0px; top:130px;background-color:black}
 
  }
  @keyframes example1{
    0%   { right:0px; top:0px;background-color:black}
    25%  {  right:8%; top:0px;background-color:cadetblue }
    50%  { right:8%; top:-100px;background-color:firebrick}
    75%  {  right:0px; top:-100x;background-color:cadetblue }
    100% {   right:0px; top:-100px;background-color:red}
  }